/* base classes */
.root {
  -fx-padding: 20px;
  -fx-font-size: 14px;
  -fx-font-weight: bold;
}

.button {
  -fx-pref-height: 65px;
  -fx-pref-width: 100px;
  -fx-text-alignment: center;
}

.toggle-button {
  -fx-pref-height: 65px;
  -fx-pref-width: 65px;
  -fx-background-radius: 50%;
  -fx-text-alignment: center;
}

/* custom layout classes */
.game-layout-balance {
  -fx-alignment: top-left;
}

.game-layout-shoe-count {
  -fx-alignment: top-right;
}

.game-layout-wagers {
  -fx-alignment: bottom-center;
  -fx-padding: 0px 0px 20px 0px;
}

.game-layout-chips {
  -fx-alignment: bottom-left;
  -fx-hgap: 5px;
  -fx-vgap: 5px;
}

.game-layout-message {
  -fx-alignment: top-center;
  -fx-padding: 20px 0px 0px 0px;
}

.game-layout-controls {
  -fx-alignment: bottom-center;
  -fx-spacing: 5px;
}

.game-layout-info {
  -fx-alignment: bottom-right;
  -fx-spacing: 5px;
}
