/* Home screen */
#home-center {
    -fx-alignment: center;
    -fx-spacing: 20px;
}

#home-title {
    -fx-font-size: 36px;
    -fx-font-weight: bold;
}

#home-start-btn {
    -fx-font-size: 16px;
}

#home-bottom {
    -fx-alignment: bottom-right;
    -fx-padding: 0px 10px 10px 0px;
}

/* Game screen */
.toggle-button {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-pref-height: 65px;
    -fx-pref-width: 65px;
    -fx-background-radius: 50%;
}

.game-btn {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-pref-height: 65px;
    -fx-pref-width: 65px;
}

#game-bottom {
    -fx-padding: 0px 25px 25px 25px;
}

#game-chips {
    -fx-hgap: 5px;
    -fx-vgap: 5px;
}

#game-controls {
    -fx-alignment: center;
    -fx-spacing: 5px;
}

#game-stats {
    -fx-alignment: center-right;
    -fx-spacing: 5px;
}
