#home-welcome-label {
    -fx-font-size: 40px;
    -fx-font-weight: bold;
}

#home-start-button {
    -fx-font-size: 16px;
}

#home-center-vbox {
    -fx-alignment: center;
    -fx-spacing: 20px;
}

#home-bottom-vbox {
    -fx-alignment: bottom-right;
    -fx-padding: 0px 10px 10px 0px;
}
